*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-image:url("backim.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
    position: relative;
}
.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(48, 48, 48, 0.18);
    width: 100%;
    height: 100%;
    z-index: -1;
}
.countdown-container{
    display: flex;
}
.big-text{
    font-size: 4rem;

}
.title{
    margin: 10px;
    text-align: center;
    color: #a01c43;
    width: 100%;
letter-spacing: 2px;
font-size: 3rem;
line-height: 5.5rem;
}
.title span{
    display: block;
    font-size: 6rem;
    letter-spacing: 2rem;

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}
.countdown-container > div{
    margin: 0 2rem;
    text-align: center;
    border: 2px solid rgba(106, 28, 2, 0.901);
    padding: 0px 20px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0px 10px 20px rgba(143, 16, 54, 0.762);
    box-sizing: border-box;
    color: rgb(16, 59, 16);
    min-width: 150px;
    font-size: 30px;
}
@media(max-width:992px){
    .countdown-container > div {
        margin: 0 1rem;
    }
}
@media(max-width:767px){
    .countdown-container{
        flex-wrap:wrap ;
    }
    .countdown-container > div {
        margin:  1rem auto;
        max-width: 150px;;

    }
    .title{
        font-size: 1.5rem;
        line-height: 3.5rem;
        margin: 10px 0px;
    }
    .title span{
        font-size: 2rem;
        letter-spacing: 2rem;
    }
}